# files
# private files
discordtoken
*secrets*
wings*
server.txt
# files by extension
*~
*.db
*.pyc
*.old
*.bak
*.json
*_test.py
*.log
# unrelated files
index.py
srvcheck.py

# directories
# private directories
venv_ttos
server_settings*
db.backup
db.bak
# specific directories
*__pycache__/*
test
snapshot
old
mods
