##### FILES #####

# private files
*secrets.py
wings*
server.txt

# files by extension
*~
*.db*
*.pyc
*.old
*.bak
server_settings/*.json
*.log



##### DIRECTORIES #####

# venv suggested for virtual env
venv
*__pycache__/*



##### WHITELIST #####
!vaivora_modules/version.json