# when using this for yourself, replace values below in the empty quotes, and rename file to secrets.py
discord_user_id = 0 # to be used for settings auth for setup with this user directly
discord_token   = ''

